<!DOCTYPE html>
<head>
  <script src="/js/jquery-3.3.1.min.js"></script>
  <script src="/js/popper.min.js"></script>
  <link rel="stylesheet" href="/css/bootstrap.min.css"> 
  <script src="/js/bootstrap.min.js"></script>
  <script type="module">
    import {} from "/client/client.js";
    //import {GetNodeDataAndPrintToJQueryNode} from "/client/client.js";
    //window.GetNodeDataAndPrintToJQueryNode = GetNodeDataAndPrintToJQueryNode;
  </script>
  <meta charset='utf-8'>
  <title>uniqnode</title>
</head>
<body>
  <div class="container">
    <h1>uniqnode</h1>
    <div class="row">
      <div class="col-sm-12">
        <h2>Add</h2>
      </div>
      <div class="col-sm-12 text-right">
        <input type="text" class="form-control" id="textInput" placeholder="Content">
        <button id="addTextButton" class="btn btn-primary">Add a text</button>
      </div>
      <div class="col-sm-12 text-right">
        <input type="text" class="form-control" id="fromInput" placeholder="From ID">
        <input type="text" class="form-control" id="relInput" placeholder="Relation ID">
        <input type="text" class="form-control" id="toInput" placeholder="To ID">
        <button id="addRelButton" class="btn btn-primary">Add a relation</button>
      </div>
      <div class="col-sm-12">
        <h2>Nodes</h2>
        <button id="syncButton" class="btn btn-primary">Sync</button>
        <div id="nodeListDiv" class="row"></div>
      </div>
    </div>
  </div>
</body>
